
// Colors
$main-color: var(--color-primary);
$infinte-color: var(--infinte-color);
$main-text-color: var(--main-text-color);

:root {
  --infinte-color: #c9c9c9;
  --main-text-color: #231f1e;
  --main-text-color-dark: #2b2d34;

  /* current */
  --color-primary: #006C35;
  --color-primary: #004F27;
  --color-primary-d: #C9A635;
  --color-primary-l: #676668;
  --color-primary-reverse: #C9A635;
  --color-text: #1D1F1F;
  --main-text-color: #1D1F1F;
  --main-text-color-dark: #111111;
  --bg-gray: #F5E6C8;
  --color-grey: #F5E6C8;
  --color-light-grey: #FFFFFF;
  /* font-size */
  --font-sm: 0.8685714286rem;
  /* font-family: ; */
  --font-main: "DINNextLTArabic";

  /* plugins */
  --mm-ocd-width: calc(100% - 51px);
}
